<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vdata.cloud.datacenter.mapper.DcsServerInfoMapper">


    <update id="update">
        update dcs_server_info set ip=#{dcsServerInfo.ip},port=#{dcsServerInfo.port}
    </update>
</mapper>